@import '../../sass/export';

.return-page {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  &__btn {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.2rem;
    border: solid 1px #fff;

    &__icon {
      font-size: 1.6rem;
    }

    &__text {
      font-size: 1.4rem;
    }
  }
}
