$main-blue--1: #1310be;
$main-purple--1: #5e60ce;

$custom-purple: #bb86fc;

$custom-background: #121212;
$custom-blue: #3993dd;
$custom-turquoise: #29e7cd;

//
// bootstrap theme colors
//

// $primary: #bb86fc;
// $dark: #000;
