$main-blue--1: #1310be;
$main-purple--1: #5e60ce;

$custom-purple: #bb86fc;

$custom-background: #121212;
$custom-blue: #3993dd;
$custom-turquoise: #29e7cd;

//
// bootstrap theme colors
//

$primary: #5e60ce;
$secondary: #bb86fc;
$info: #29e7cd;

$input-font-size: 1.25rem;
$table-cell-padding-y: 1rem;
$table-cell-padding-x: 1rem;
